* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav-bar > * {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.nav-bar__title {
  margin-left: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-bar__side-header{
  color: rgb(161, 161, 161);
}

.nav-bar__links{
  display: flex;
  margin-right: 2rem;
  align-items: center;
}

.nav-bar__link-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 0.5rem;
}

.nav-bar__link-list > * {
  margin-left: 0.5rem;
}

.project__button{
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-color: transparent;
  background-color: lightgreen;
  color: white;
  text-transform: uppercase;
} 

.project__button:hover{
  cursor: pointer;
} 

.launch-page__introduction{
  background-color: lightgreen;
  height: 85vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.introduction__card{
  padding: 3rem;
  width: 45rem;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

.introduction__header{
  font-size: 250%;
  margin-bottom: 2rem;
}

.introduction__text{
  margin-bottom: 1rem;

}